.image{
    width: 150px;
    height: 150px;
    text-align: center;
    margin: auto;
    border-radius: 50%;
}
.card-style{
    color: white;
    background: grey;    
    border-radius: 15px;
}
.add-btn{
    background: rgb(243, 62, 116);
    color: white;
}