.main-section{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.doctors{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}

/* use media queary for responsive */
@media (max-width:992px) {
    .doctors{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:768px) {
    .main-section{
        display: grid;
        grid-template-columns: 4fr 2fr;
    }
    .doctors{
        grid-template-columns: 1fr;
    }
}